openapi: "3.1.0"
info:
  title: MapleBridge Public Matching API
  version: "1.0"
  description: |
    Public API boundary for submitting buyer demands and supplier capability
    statements into the MapleBridge matching workflow.

    This document describes integration-facing fields only. It does not expose
    production ranking thresholds, crawler source lists, customer records, or
    notification credentials.
  contact:
    url: https://maplebridge.io/open/
  license:
    name: Apache-2.0
    url: https://opensource.org/licenses/Apache-2.0

servers:
  - url: https://maplebridge.io/api/v1
    description: Production

tags:
  - name: Matching
    description: Submit buyer and supplier intents for background matching
  - name: System
    description: Health and status

paths:
  /webhook/manus:
    post:
      operationId: submitIntent
      summary: Submit a buyer demand or supplier capability statement
      description: |
        Submit a public intent into the MapleBridge matching boundary.
        Use `role: demand` for buyer requirements and `role: supply` for
        supplier capability statements. If role is omitted, MapleBridge attempts
        to infer it from the text.
      tags: [Matching]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IntentSubmitRequest"
            examples:
              buyer_demand:
                summary: Electronics buyer demand
                value:
                  core_need: "Need 500 FCC-certified Bluetooth earbuds for Amazon US warehouse, target price under USD 8."
                  role: "demand"
                  contact_email: "buyer@example.com"
                  country: "US"
                  category: "consumer electronics"
                  source_url: "api-example"
              supplier_capability:
                summary: Supplier capability statement
                value:
                  core_need: "Shenzhen factory making FCC-certified Bluetooth earbuds, MOQ 300, OEM packaging, Amazon FBA prep available."
                  role: "supply"
                  contact_email: "export@example.com"
                  country: "China"
                  category: "consumer electronics"
                  source_url: "api-example"
      responses:
        "200":
          description: Intent received and background matching started
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntentSubmitResponse"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /health:
    get:
      operationId: healthCheck
      summary: Platform health check
      tags: [System]
      responses:
        "200":
          description: Platform is operational
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"
                  service:
                    type: string
                    example: "IntentNet Alpha"

components:
  schemas:
    IntentSubmitRequest:
      type: object
      required:
        - core_need
      properties:
        core_need:
          type: string
          description: Natural-language buyer requirement or supplier capability statement.
          example: "Need 500 FCC-certified Bluetooth earbuds for Amazon US warehouse."
        role:
          type: string
          enum: [demand, supply]
          description: Use demand for buyer requirements and supply for supplier capabilities. If omitted, MapleBridge attempts role inference.
        contact_email:
          type: string
          format: email
        contact_name:
          type: string
        company:
          type: string
        country:
          type: string
        category:
          type: string
          description: Optional product category hint.
          example: "consumer electronics"
        budget_usd:
          type: number
          description: Optional buyer budget or estimated order value.
        source_url:
          type: string
          description: Optional external record URL or integration origin.
        manus_record_id:
          type: string
          description: Optional stable external record ID for caller-side deduplication.

    IntentSubmitResponse:
      type: object
      properties:
        status:
          type: string
          enum: [received]
        role:
          type: string
          enum: [demand, supply]
        intent_id:
          type: string
          example: "INTENT_A1B2C3D4"
        message:
          type: string

    Error:
      type: object
      properties:
        detail:
          type: string
